<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proteomics_Imaging_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Proteomics_Database_Parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Proteomics_Imaging_Tools.Properties.Settings>
            <setting name="DefaultMassFilterMWCalculator" serializeAs="String">
                <value>100000000</value>
            </setting>
            <setting name="DefaultMinimumIntensityMFG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultMaximumIntensityMFG" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefaultMassRangeMFG" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DefaultMinimumMWMFG" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="DefaultMaximumMWMFG" serializeAs="String">
                <value>20000.0</value>
            </setting>
            <setting name="DefaultAbsoluteIntensityCheckStateMFG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLogScaleCheckStateMFG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPercentWindowCheckStateMFG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultIntegrationPeakIntensityCheckStateMFG"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMaximumIntensityPercentMFG" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefaultMinimumIntensityPercentMFG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAbsoluteWindowMFG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultIntegrationIntegrateSignalMFG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMassRangeMLA" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DefaultAbsoluteWindowMLA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPercentWindowMLA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMinimumAAPF" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultMinimumPeptides" serializeAs="String">
                <value>2</value>
            </setting>
        </Proteomics_Imaging_Tools.Properties.Settings>
        <Proteomics_Database_Parser.Properties.Settings>
            <setting name="DefaultMassFilter" serializeAs="String">
                <value>100000000</value>
            </setting>
        </Proteomics_Database_Parser.Properties.Settings>
    </applicationSettings>
</configuration>